<div class="group-details">
  <h3><%= @group.name %></h3>
  <p>Creator: <%= link_to @group.creator.name, :controller => "home", :action => "show", :id => @group.creator %><p>
  <p><%= @group.description %></p>
  <hr />
  <h4>Member List</h4>
  <ul class="inline">
    <% @group.users.each do |user| %>
      <li><%= link_to user.name, :controller => "home", :action => "show", :id => user %></li>
    <% end %>
  </ul>
</div>
<%= button_to "join the team", :action => "join", :id => @group %>