<div class="well">
	<ul class="nav nav-list">
	  <li><%= link_to "日程", :controller => "reports" %></li>
	  <li class="divider"></li>
	  <li class="nav-header">我的目标</li>
	  <li><%= link_to "周", :controller => "features" %></li>
	  <li><%= link_to "月", :controller => "features" %></li>
	  <li><%= link_to "季度", :controller => "features" %></li>
	  <li class="divider"></li>
	  <li><%= link_to "生成器", :controller => "auto_creator" %></li>
	</ul>
</div>