<div class="tab-pane fade" id="f-plan">
  <%= form_for(@feature, :html => {:class => "form-horizontal"}) do |f| %>
    <span class="label label-info" rel="tooltip" title="选择一项计划，搞起吧！">来选一项吧！</span>
    <div class="btn-group" data-toggle="buttons-radio">
      <% @ftypes.each do |ftype| %>
        <% if ftype.catalog == 1 %>
          <button type="button" class="btn" data-id="<%= ftype.id %>"><%= ftype.name %></button>
        <% end %>
      <% end %>
    </div>
    <div class="control-group">
      <%= label_tag "name", "标题", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, {:size => 30, :placeholder => "来个名字唄", :require => true} %>
      </div>
    </div>
    <p>Plane_Days: <%= f.text_field :plane_days, :cols => 30, :rows => 10 %></p>
    <p>Description: <%= f.text_field :description, :cols => 30, :rows => 10 %></p>

    <p><%= f.submit %></p>
  <% end %>
</div>